.char-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff7d2;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.char-title{
  font-size: 50px;
  font-weight: bold;
  color: #56675d;
  margin-top: 20px;
  margin-bottom: 20px;
}

.char-item{
  width: 90%;
  height: fit-content;
  background-color: #fffdef;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-radius: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.char-info{
  width: 100%;
  font-size: 20px;
  color: #56675d;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} 

.info_item_char{
  font-size: 30px;
  color: #56675d;
  margin-left: 15px;
  margin-right: 15px;
}

.char_btn_wrap{
  width: 90%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px ;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info_item_char_label{
  font-size: 23px;
  color: #949081;
}

.char_btn{
  background-color: #ffe584;
  padding: 5px;
  width: 40%;
  border-radius: 35px;
  font-size: 30px;
  font-weight: bold;
  color: #7c5f30;
  text-align: center;
  box-shadow: 4px 4px 0px rgba(200, 200, 200, 0.5);
}

.char_enter-game{
  width: 80%;
  text-align: center;
  border-radius: 35px;
  background-color: rgba(186, 225, 184, 0.5);
  font-size: 30px;
  font-weight: bold;
  color: #56675d;
  text-align: center;
  border: 5px solid #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}